@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron myJumbotron" @*style="color:red"*@>
    @*<div class="col-md-6">
            <img src="~/pngs/эмблем.png" alt="">
        </div>
        <div class="col-md-6">
            <h3>Алагеум холдинг</h3>
        </div>
        <div></div>*@
    <p>
        <img src="~/pngs/эмблем.png" align="left"
             vspace="5" hspace="5">
        <h3>Алагеум холдинг</h3>
    </p>

    <p class="lead">
        <div> «Alageum Electric» - крупная электротехническая компания Казахстана </div>
        Представляющая на рынке электроэнергетики полный комплекс услуг «из одних рук - под ключ», с последующей сервисной поддержкой
    </p>
    <p><a href="https://alageum.com" class="btn btn-default btn-lg" @*style="background-color: #CC2531;"*@>Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        @*<img src="~/pngs/эмблем.png" alt="" class="col-md-3"><>*@
        <p>
            <img src="~/pngs/эмблем.png" align="left"
                 vspace="5" hspace="5">
            <h3>Кентау трансформатор завод</h3>
        </p>
        <p>
            Основной стратегией АО «КТЗ» является, поставка на рынок лучшей электротехнической продукции, соответствующей требованиям потребителей по качеству, цене, условиям поставки и предоставляемому сервису.
            Высокое качество и надежность выпускаемой продукции достигается благодаря применению современного, высокотехнологичного оборудования ведущих западных и европейских фирм, таких как:
        </p>
        <p><a class="btn btn-default" href="http://ae-ktz.kz/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-6">
        @*<img src="~/pngs/эмблем.png" alt="">*@
        <p>
            <img src="~/pngs/эмблем.png" align="left"
                 vspace="5" hspace="5">
            <h3>Все достижений завода за последние годы.</h3>
        </p>
        <p>Все достижений завода за последние годы.</p>
        <p><a class="btn btn-default" href="http://ae-ktz.kz/licenzii-i-sertifikaty/?lang=ru">Узнать больше &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>