@{
    ViewBag.Title = "Подтверждение пароля (если он был забыт)";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    @if (ViewBag.messege != "null")
    {
    <p class="text-danger">
        Не существует пользвателя таким @ViewBag.messege логином.
    </p>
    }
    else
    {
        <p class="text-success">
          Отправлена сообщение для сброс пароля в вашу электонную почту
        </p>
    }
</div>
	
